{% extends 'myapp/basic.html' %}
{% load static %}

{% block contant %}

<div class="row">
    <div class="col-sm-12 text-center">
        <h2 class="text-center py-4">Image Upload</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-danger" type="submit" value="Upload">
        </form>
    </div>
</div>

{#  Start  Showing Image Div #}
    <div class="row">
    {% for x in img %}
        <div class="col-sm-4">
            <div class="card m-2">
                <img src="{{ x.photo.url }}" alt="Image" class="card-img-top">
            </div>
        <div class="card-footer">
            <small class="text-muted">{{ x.date }}</small>
        </div>
        </div>
     {% endfor %}
    </div>

{#  End  Showing Image Div #}

{% endblock %}